:host {
  display: block;
}
.buttons .btn {
  background-color: transparent;
  padding: 0.9rem 1.1rem;
  font-size: 0.8rem;
  border: 1px solid #6b6b6b;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  transition: all 0.2s ease-in;
  min-width: 100px;
  outline: none;
  cursor: pointer;
}
.buttons .btn.active {
  background-color: white;
  color: #1a1c48;
  transform: scaleX(1.1);
  padding: 1.3rem 1rem;
}
